<%= render "shared/map" %>
<% @stop_stations.each do |station|%> <%# borre el = al inicio de la linea para que las instancias no sean visibles %>
  <h3><%= station.station_name %></h3>
  <h3><%= station.route_id %></h3>
  <h3><%= station.latitude %></h3>
  <h3><%= station.longitude %></h3>
<% end %>
